@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Merriweather:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@600&family=Noto+Serif:ital,wght@0,600;1,600&family=Oswald&family=Rubik+Lines&family=Sevillana&family=Tiro+Devanagari+Hindi:ital@1&family=Work+Sans:wght@800&display=swap");
:root {
  font-family: "Work Sans", sans-serif;
}
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Mukta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #f8efdb;
  overflow-x: hidden;
  color: #5c5c5c;
}

.sroll::-webkit-scrollbar {
  width: 3px !important;
}
.sroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c4a484;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: #a67c52;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #ccc;
}
.container {
  width: 90%;
  margin: auto;
}

header .topstrip {
  /* background-color: #e3d1f4; */
}
.link:hover {
  color: #b76e79;
}
.cartItem {
  width: 450px;
}
.cartItem img {
  width: 300px;
  height: 120px;
}
.bottomInfo Button {
  background-color: black;
  color: white;
}
.sliderHome {
  overflow: inherit !important;
}
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 22px !important;
  color: black;
}
.swiper-notification {
  position: absolute !important;
  left: -9999px !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 55% !important;
}

.smlBtn .swiper-button-prev:after,
.smlBtn .swiper-button-next:after {
  font-size: 18px !important;
  color: black;
}

.categorySlider .swiper-button-prev,
.categorySlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.categorySlider .swiper-button-prev:after,
.categorySlider .swiper-button-next:after {
  font-size: 18px !important;
  color: black;
}
.categorySlider {
  overflow: inherit !important;
}
.categorySlider .swiper-button-prev {
  left: 5px !important;
}
.categorySlider .swiper-button-next {
  right: 5px !important;
}
.categorySlider .item {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}
.categorySlider .item:hover img {
  transform: scale(1.1);
}
.box {
  transition: box-shadow 0.3s;
  border-radius: 10px;
  border: 1px solid #ccc;
  float: left;
}
.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.MuiTabs-indicator {
  background-color: #b76e79 !important;
}
.MuiTab-textColorPrimary {
  color: #b76e79 !important;
}
.productsSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.btn-org {
  background: #ff5252 !important;
  color: white !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  padding: 7px 20px !important;
}
.btn-org:hover {
  background-color: rgb(23, 23, 23) !important;
}

.btn-org.btn-border {
  background: none !important;
  color: #ff5252 !important;
  border: 1px solid #ff5252 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  padding: 7px 20px !important;
}
.btn-org.btn-border:hover {
  background-color: rgb(23, 23, 23) !important;
  color: white !important;
  border: 1px solid #ff5252 !important;
}

.btn-lg {
  font-size: 16px !important;
  padding: 7px 20px !important;
}
.btn-sm {
  font-size: 12px !important;
  padding: 5px 20px !important;
}

footer form input::placeholder {
  font-size: 15px;
}
.MuiCheckbox-root {
  padding: 6px !important;
}
.ReactCollapse--collapse {
  transition: height 400ms;
}
.ItemsView button svg {
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  transition: all 0.2s ease;
}

.ItemsView button.active svg {
  color: #f08922 !important;
  opacity: 1;
}
.Mui-selected.MuiPaginationItem-page {
  background-color: #b682e7 !important;
  color: #ffff !important;
}
.zoomProductSlider .swiper-wrapper {
  padding-top: 38px !important;
}
.zoomProductSlider .swiper-button-next {
  bottom: 0px !important;
  right: inherit !important;
  top: inherit !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important ;
}
.zoomProductSlider .swiper-button-prev {
  right: inherit !important;
  left: 0px !important;
  top: 20px !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important ;
}
.zoomProductSlider .swiper-button-prev::after,
.zoomProductSlider .swiper-button-next::after {
  transform: rotate(90deg);
}
p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.reviewScroll::-webkit-scrollbar {
  width: 5px !important;
}
.reviewScroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}
.css-w4nesw-MuiInputBase-input-MuiOutlinedInput-input {
  border: none !important;
  outline: none !important;
}
.productDetailsModal .MuiDialogContent-root {
  /* padding: 0px !important; */
}

.cartPanel .MuiPaper-root {
  width: 400px;
  overflow: hidden;
}

.MuiInput-underline::before,
.MuiInput-underline::after {
  border-bottom: none !important;
}
input.MuiInputBase-input {
  border-bottom: 1px solid black !important;
  box-shadow: none !important;
  outline: none !important;
}
#account-menu .MuiPaper-root {
  width: 200px !important;
}
.SidebarBtn {
  display: flex !important;
  width: 100% !important;
  text-align: left !important;
  padding: 0.5rem 1.25rem !important;
  justify-content: flex-start !important;
  text-transform: capitalize !important;
  border-radius: 0 !important;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
}

.TabHighlight {
  background-color: #f3f3f3;
}

.TabHighlight::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #d32f2f;
  border-radius: 0 4px 4px 0;
}
button .MuiCircularProgress-root {
  width: 30px !important;
  height: 30px !important;
}
